Hello {{.user}}!

This is a test template.
Email: {{.email}}

{{if .brew}}
Brew settings:
  Remove: {{.brew.remove}}
{{end}}

Generated at: {{.timestamp}}

{{ .var1 }} = "var_1"
{{ .var2 }} = "var_2"
